.header {
  text-align: center;
  font-size: 40px;
}
// Drag and drop area
.droparea {
  top: 50px;
  width: 80%;
  height: 250px;
  padding: 2rem;
  text-align: center;
  border: solid 1px #979797;
  position: relative;
  overflow: scroll;
  margin: 0 auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }
}

.content {
  padding: 16px;
  display: flex;
  text-align: center;
}

.content>mat-card {
  width: 200px;
}

// Control section
.controlSection {
  margin-top: 100px;
}
.concernOptions {
  text-align: center
}
.concernLabel {
  margin-right: 10px;
}
.control-button-row{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.uploadButton {
  background-color: green;
  color: white;
}

// Control options (Radio button)
::ng-deep .mat-radio-label-content {
  margin-right: 10px;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#db202f; 
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#db202f;
  background-color:#db202f;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(255, 37, 37,.26);
}

// Progress bar
::ng-deep .mat-progress-bar-fill::after {
  background-color:green;
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(199, 233, 199);
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}